target/
.devcontainer/data/*.tsv.gz
.devcontainer/data/*.sh
makefile
createEcNumbers.sh
createGoTerms.sh
createInterProEntries.sh
type_strains.sh
latest-config
.classpath
.project
.settings
.vscode
createKeggPathways.sh
data/
.DS_Store
out
scripts/helper_scripts/parser/output
scripts/helper_scripts/parser/src/META-INF
.idea/
*.iml
